<div class="card">
    <div class="cardTitle">Kart Bilgileri </div>
    <div>
    <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Müşteri ID'si</mat-label>
          <input matInput placeholder="" value="{{model.RESNAMEID}}">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Kart Numarası</mat-label>
          <input matInput placeholder="" value="{{model.CARDNO}}">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Müşteri İsmi</mat-label>
          <input matInput placeholder="" value="{{model.GUESTNAME}}  {{model.GUESTSURNAME}}">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Acenta Numarası</mat-label>
          <input matInput placeholder="" value="{{model.AGENCYID}}">
        </mat-form-field></form>
    </div>
    <div>
    <form class="example-form">
    <mat-form-field  class="example-full-width" appearance="fill" floatLabel="always">
        <mat-label>Yüklenen</mat-label>
        <input matInput type="number" class="example-right-align" placeholder="0" value="{{model.LOADED}}">
        <span matPrefix>$&nbsp;</span>
        <span matSuffix>.00</span>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill" floatLabel="always">
        <mat-label>Harcanan</mat-label>
        <input matInput type="number" class="example-right-align" placeholder="0" value="{{model.SPENT}}">
        <span matPrefix>$&nbsp;</span>
        <span matSuffix>.00</span>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill" floatLabel="always">
        <mat-label>İade</mat-label>  
        <input matInput type="number" class="example-right-align" placeholder="0" value="{{model.REFUND}}">
        <span matPrefix>$&nbsp;</span>
        <span matSuffix>.00</span>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill" floatLabel="always">
        <mat-label>Bakiye</mat-label>
        <input matInput type="number" class="example-right-align" placeholder="0" value="{{model.BALANCE}}">
        <span matPrefix>$&nbsp;</span>
        <span matSuffix>.00</span>
      </mat-form-field>
      </form>
    </div>
    
   
        <button class="example-flex-container" mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
            <mat-icon>plus_one</mat-icon>
          </button>
    
</div>






