
.card {
    display: flex;
    margin: 1% auto 32px;
    padding: 0 16px;
    max-width: 95%;
    flex-direction: column;
    align-items: center;
    background-color: #F9F8E4;
    border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  }

  .cardTitle{
      text-align: center;
      font-size:200%;
      padding: 5%;
      font-family:fantasy;
      width: 91.8%;
      size: 30px;
      height: 0px;
      background-color: #B8B6A6;
      border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 0px 0px;
  }
  .container{
    width: 100%;
  }
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }

  .example-form {
    flex-direction: row;
    margin-top: 1%;
    margin-left: 7%;
    
    min-width: 150px;
    max-width: 100%;
    width: 100%;
    color: #000000;
    
  }
  .example-form2 {
    flex-direction: row;
    
    margin-left: 7%;
    min-width: 150px;
    max-width: 220%;
    width: 100%;
    color: #000000;
    
  }
  
  .example-full-width {
    width: 25%;
    margin-right: 5%;
  }

  .example-full-width2 {
    width: 17.5%;
    margin-right: 5%;
  }
  .example-flex-container{
      margin-bottom: 5%;
      margin-left: 85%;
      background-color: red;
      
    }
    .example-headers-align{
      width: 200%;
      max-width: 200%;
    }
    .example-headers-align .mat-expansion-panel-header-title,
    .example-headers-align .mat-expansion-panel-header-description {
      flex-basis: 0;
      
    }
    
    .example-headers-align .mat-expansion-panel-header-description {
      justify-content: space-between;
      align-items: center;
    }
    
    .example-headers-align .mat-form-field + .mat-form-field {
      margin-left: 8px;
    }
    .buttondetail{
      border: #B8B6A6;
    }
    
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }

  