
<div class="card">
    <div class="cardTitle">Kart Bilgileri </div>
    <div>
    <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>a</mat-label>
          <input matInput placeholder="">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>{{model?.CARDNO}}</mat-label>
          <input matInput placeholder="">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>{{model?.GUESTNAME}} Soyad</mat-label>
          <input matInput placeholder="">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Telefon</mat-label>
          <input matInput placeholder="">
        </mat-form-field></form>
    </div>
    <div>
    <form class="example-form">
    <mat-form-field  class="example-full-width" appearance="fill" floatLabel="always">
        <mat-label>Yüklenen</mat-label>
        <input matInput type="number" class="example-right-align" placeholder="0">
        <span matPrefix>$&nbsp;</span>
        <span matSuffix>.00</span>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill" floatLabel="always">
        <mat-label>Harcanan</mat-label>
        <input matInput type="number" class="example-right-align" placeholder="0">
        <span matPrefix>$&nbsp;</span>
        <span matSuffix>.00</span>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill" floatLabel="always">
        <mat-label>İade</mat-label>
        <input matInput type="number" class="example-right-align" placeholder="0">
        <span matPrefix>$&nbsp;</span>
        <span matSuffix>.00</span>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill" floatLabel="always">
        <mat-label>Bakiye</mat-label>
        <input matInput type="number" class="example-right-align" placeholder="0">
        <span matPrefix>$&nbsp;</span>
        <span matSuffix>.00</span>
      </mat-form-field>
      </form>
    </div>
    
   
        <button class="example-flex-container" mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
            <mat-icon>plus_one</mat-icon>
          </button>
    
</div>






